.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1440px) {
    padding: 0 128px;
  }
}

.btn {
  margin-bottom: 64px;
}

.custom {
  max-width: 549px !important;
}
