.navigation {
  text-transform: capitalize;
  font-family: var(--font-alice);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    gap: unset;
  }
}

ul.navLeft,
ul.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.navigationItem {
  position: relative;
}

.navigationLink {
  display: inline-block;

  width: 100%;

  &[aria-current="page"] {
    color: var(--grey);
    pointer-events: none;
  }
}
