.navigation {
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-alice);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    color: var(--black);
  }
}

ul.navLeft,
ul.navRight {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navigationItem {
  position: relative;
}

.navigationLink {
  display: inline-block;

  width: 100%;
}
