* {
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 40px;
  line-height: 120%;

  @media only screen and (min-width: 768px) {
    font-size: 56px;
  }
  @media only screen and (min-width: 1440px) {
    font-size: 80px;
  }
}

h2 {
  font-size: 36px;
  line-height: 120%;

  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  line-height: 140%;

  @media only screen and (min-width: 768px) {
    font-size: 32px;
  }
}

h4 {
  font-size: 18px;
  line-height: 140%;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
}

span.pad {
  padding-left: 0.25lh;
}

button {
  border: 0;
  background-color: transparent;
}

button,
a {
  &:focus-visible {
    outline: none !important;
  }
}

a:hover,
a:focus {
  transform: translateY(-20%);
  box-shadow: none;
}

svg {
  width: 100%;
  height: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
