* {
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3 {
  font-family: var(--font-alice), sans-serif;
}

h1 {
  line-height: 120%;
  font-size: 80px;
}

h2 {
  line-height: 120%;
  font-size: 48px;
  text-align: center;
  &.galleryHeading {
    margin-bottom: 56px;
  }
}

h3 {
  line-height: 140%;
  font-size: 32px;
}

button {
  border: 0;
  background-color: var(--green);
  &:hover,
  &:focus {
    background-color: var(--dark-grey);
    box-shadow: var(--box-shadow);
  }
  &.transp {
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

button,
a {
  &:focus-visible {
    outline: none !important;
  }
}

a:hover,
a:focus {
  transform: translateY(-10%);
  box-shadow: none;
}

svg {
  width: 100%;
  height: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
