.benefits {
  padding-left: 28px;
  & li:not(:last-child) {
    margin-bottom: 8px;
  }
  & li {
    display: flex;
    gap: 16px;
    text-align: left !important;
    &::before {
      content: "";
      flex: none;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: currentColor;
      margin-top: calc((1lh - 2px) / 2);
    }
  }
}
