.btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 998;

  width: 44px;
  height: 44px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-op);
  color: var(--background);
  border-radius: 50%;
  box-shadow: var(--box-shadow);

  opacity: 0;
  pointer-events: none;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    transform: scale(1.15);

    @media screen and (min-width: 768px) {
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }
}
.visible {
  opacity: 1;
  pointer-events: auto;
}
