.footer {
  padding: 24px 64px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media screen and (min-width: 1440px) {
    padding: 24px 384px;
  }
}

.nav ul {
  gap: 12px;
  gap: 12px;
  @media only screen and (min-width: 800px) {
    gap: 40px;
  }
}

.socialsList {
  display: flex;
  align-items: center;
  gap: 80px;
}

.socialsLink {
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover,
  &:focus {
    color: var(--light-green);
  }
}
.legalLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.copyright {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--dark-grey);
}
