.section {
  position: relative;
  isolation: isolate;
  display: grid;
  align-content: center;
  min-height: clamp(240px, 40vh, 520px);
  padding: var(--header-height) 0 0;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgba(0, 0, 1, 0.3);
  }
}

.img {
  object-fit: cover;
  z-index: -1;
}

.container {
  padding: 0;
  width: 100%;
  max-width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

  @media screen and (min-width: 2560px) {
    max-width: 80%;
  }
}

.heading {
  color: var(--light-grey);
  font-size: 48px;
  text-transform: capitalize;
  font-family: var(--font-forum);
}
