@import "./css/reset.css";
@import "./css/base.css";
@import "modern-normalize/modern-normalize.css";

:root {
  --black: #000001;
  --white: #fff;
  --dark-grey: #202020;
  --grey: #838383;
  --green: #444935;
  --light-green: #5b604c;
  --dark-green: #2e331f;
  --transparent-light-green: rgba(91, 96, 76, 0.9);
  --box-shadow: 4px 4px 8px 0 rgba(46, 51, 31, 0.3);
}

html {
  scroll-padding-top: var(--header-height);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--black);
  background: var(--white);
  min-width: 320px;

  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
