section.hero {
  position: relative;
  padding-bottom: 0;
}

.slider {
  height: 30svh;

  @media screen and (min-width: 768px) {
    height: 60svh;
  }
  @media screen and (min-width: 1440px) {
    height: 75svh;
  }
  --swiper-navigation-color: var(--white);
  --swiper-navigation-size: 28px;
  --swiper-navigation-sides-offset: 24px;

  & :global(.swiper-slide) {
    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0ms !important;
    }
  }
}

.slide {
  position: relative;
}

.img {
  object-fit: cover;
}

.group {
  display: grid;
  grid-template-columns: repeat(var(--n), 1fr);
  height: 100%;
  gap: 0;
}

.cell {
  position: relative;
}
