.swiper {
  height: fit-content;
  --swiper-pagination-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-color: var(--primary-color);

  @media screen and (max-width: 767px) {
    --swiper-pagination-color: var(--background);
    --swiper-pagination-bullet-inactive-color: var(--background);
  }
}

.swiperSlide {
  color: var(--background);
  background-color: var(--primary-color-slide);
  border-radius: 24px;

  height: auto !important;
  padding: 16px 32px;

  & h4,
  h6,
  p:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2) !important;
  }
  @media screen and (min-width: 1440px) {
    width: calc((100% - 64px) / 3) !important;
  }
}

.hint {
  margin-top: 4px;
  padding-left: 20px;

  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 12px;
  opacity: 0.6;

  & svg {
    height: 1lh;
    width: 1lh;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
