.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 32px;
  z-index: 999;
  background-color: var(--white);
  box-shadow: none;

  @media only screen and (min-width: 1440px) {
    padding: 24px 128px;
  }
}

.header.scrolled {
  box-shadow: var(--box-shadow);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.backBtn {
  display: flex;
  gap: 4px;

  color: var(--black);

  & svg {
    height: 1lh;
    width: 1lh;
  }

  &:hover,
  &:focus {
    transform: translateY(-10%);
  }
}

.burger {
  height: 32px;
  width: 32px;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.nav {
  width: 100%;
  & ul {
    justify-content: space-between;
    @media only screen and (min-width: 768px) and (max-width: 1084px) {
      gap: 12px;
    }
    @media only screen and (min-width: 1085px) {
      gap: 40px;
    }
  }
}
