.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: none;
}

.header.scrolled {
  box-shadow: var(--box-shadow);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  @media screen and (min-width: 768px) {
    padding: 0 80px;
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    padding: 0 128px;
  }
}

.backBtn {
  display: flex;
  gap: 4px;

  color: var(--black);

  & svg {
    height: 1lh;
    width: 1lh;
  }

  &:hover,
  &:focus-visible {
    transform: translateY(-10%);
  }
}

.burger {
  height: 32px;
  width: 32px;

  &:hover,
  &:focus-visible {
    transform: scale(1.1);
  }
}

.nav {
  width: 100%;
  & ul {
    justify-content: space-between;
    gap: 40px;
  }
}
