.textBox {
  margin: 0 auto;
  padding: 24px;
  border-left: 1px solid var(--dark-green);
  border-right: 1px solid var(--dark-green);
  max-width: fit-content;

  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    padding: 64px 64px 32px;
  }
}

.heading {
  text-transform: capitalize;
}

.subHeading {
  font-family: var(--font-alice);
  display: inline-block;
  font-size: 20px;
}

.subText {
  max-width: 612px;
  font-size: 20px;
  margin: 0 auto;
  &:last-of-type {
    margin-bottom: 24px;
  }
}
